<%= form_with(model: task, class: 'js-form') do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class: 'form-group'>
    <%= f.text_area :sentence %>
    </div>
    <select name="task[category]" id="task_category">
      <option value="">選択してください</option>
      <option value="時間が決まったタスク">時間が決まったタスク</option>
      <option value="よく使うタスク">よく使うタスク</option>
      <option value="たまたま行ったタスク">たまたま行ったタスク</option>
      <option value="ToDo">ToDo</option>
    </select>
    <%= f.time_field :time, class: "time" %>
    <%= f.submit %>
  </div>
<% end %>